.site-header {
    padding: 10px 0; /* Spacing for the header */
}

.site-header .social-icon {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex; /* Ensure icons align horizontally */
}

.site-header .social-icon li {
    margin-left: 10px; /* Add spacing between icons */
}

.site-header .container .row.align-items-center  .logbtn {
    margin-top: 0; /* Align button with other elements */
    background-color: white; /* Nice green color */
    border-color: #28a745;    /* Match the border with the background */
    color: grey;             /* Text color */
}


.site-header .container .row.align-items-center .logbtn:hover {
    color: black;
}

.site-header .container {
    padding-top: 10px;
    padding-bottom: 10px;
}
